      <div class="post">
        <div class="header">
          <h2><a href="/archives/2008/03/20/philip-jones-griffiths-1936-2008">Philip Jones Griffiths 1936-2008</a></h2>
          <div class="date"><a href="/archives/2008/03/">March</a> <a href="/archives/2008/03/27/">27</a>, <a href="/archives/2008/">2008</a></a></div>
        </div>
        <div class="body">
          <p>
            <img src="http://blog.hunch.se/resources/2008/03/philip-jones-griffiths.jpg" alt="Philip Jones Griffiths and one of his pictures" />
          </p>
          <p>
            Philip Jones Griffiths was a really good documentary photographer,
            born in Rhuddlan, near Rhyl in Wales on 18th February 1936 and it
            was there, at the age of 16, that he learnt an early lesson about
            photography&#8230;
          </p>
          <p>
            <a href="http://blog.magnumphotos.com/2008/03/philip_jones_griffiths_1936-2008.html">Read the tribute at the Magnum blog »</a>
          </p>
        </div>
        <div class="footer">
          <div class="tags">
            Tags:
            <a href="/tags/magnum">magnum</a>
            <a href="/tags/magnum">photography</a>
            <a href="/tags/magnum">photographer</a>
            <a href="/tags/magnum">philips jones griffiths</a>
            <a href="/tags/magnum">person</a>
          </div>
        </div>
      </div>
