<%
from random import randint
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Smisk – Web Service Framework</title>
    <link href="/res/screen.css" type="text/css" rel="stylesheet" media="screen" />
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
        <h1 class="img${randint(1,9)}"><a href="${request.url.to_s(path=0)}/">Smisk</a></h1>
        <ul>
          % for m in site_menu:
            <li\
% if 'id' in m:
 id="${m['id']}"\
% endif
><a href="${m['url']}" title="${m['desc']|x}"\
% if request.url.path == m['url']:
 class="current"\
% endif
>${m['title']|x}</a></li>
          % endfor
        </ul>
      </div>
    </div>