<%include file="_header.html"/>
    <div id="main">
      <div class="wrapper">
        <h1>Documentation</h1>
        <p>
          Starting points:
        </p>
        <ul>
          <li><a class="wiki" href="http://trac.hunch.se/smisk/wiki/Installing">Installing</a>
          </li><li><a class="wiki" href="http://trac.hunch.se/smisk/wiki/Documentation">Documentation</a>
          </li><li><a class="wiki" href="http://trac.hunch.se/smisk/wiki/Download">Download</a>
          </li><li><a class="wiki" href="http://trac.hunch.se/smisk/wiki/Development">Development</a> – Source code access, how to become a developer, etc.
          </li><li><a class="source" href="http://trac.hunch.se/smisk/browser/">Browse Source</a> (or browse <a class="ext-link" href="http://hg.hunch.se/smisk/"><span class="icon">with complete details</span></a>)
          </li><li><a class="wiki" href="http://trac.hunch.se/smisk/wiki/Performance">Performance</a> – Sustainability, etc
          </li><li><a class="report" href="http://trac.hunch.se/smisk/report/3">Active Tickets by Milestone</a>
          </li><li><a href="http://trac.hunch.se/smisk/smisk/timeline">Timeline</a>
          </li>
        </ul>
      </div>
    </div>
<%include file="_footer.html"/>