Source: python-smisk
Section: python
Priority: optional
Maintainer: Rasmus Andersson <rasmus@flajm.com>
Build-Depends: debhelper (>= 5.0), libfcgi-dev (>= 2.4), python-all-dev (>= 2.4), python-central (>= 0.5), libdb-dev
XS-Python-Version: all
Standards-Version: 3.8.0

Package: python-smisk
Architecture: any
Depends: libc6 (>= 2.3), libfcgi0ldbl (>= 2.4) | libfcgi0c2 (>= 2.4), python (<< 2.6), python (>= 2.4), python-central (>= 0.5), libdb4.7 | libdb4.6 | libdb4.5 | libdb4.4
Recommends: python-elixir, python-cjson, python-mako, python-yaml
Suggests: lighttpd | nginx
XB-Python-Version: ${python:Versions}
Homepage: http://python-smisk.org/
Description: High-performance and scalable web service framework
 written in C, but controlled by Python.
