Source: python-smisk
Section: python
Priority: optional
Maintainer: Rasmus Andersson <rasmus@flajm.se>
Build-Depends: debhelper (>= 5.0.38), libfcgi-dev (>= 2.4.0-6), python-all-dev (>= 2.4.0-1), python-central (>= 0.5.6)
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-smisk
Architecture: any
Depends: libfcgi (>= 2.4.0-6), ${shlibs:Depends}, ${python:Depends}
Suggests: lighttpd
XB-Python-Version: ${python:Versions}
Description: Simple, high-performance and scalable web service framework
 Simple, high-performance and scalable web service framework written in
 C, but controlled by Python.
 .
  Homepage: http://trac.hunch.se/smisk
