#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE = 1

# This is the debhelper compatibility version to use.
export DH_COMPAT = 5

PYVERS = $(shell pyversions -r)

build: build-stamp

build-stamp: $(PYVERS:%=build-ext-%-stamp)
	touch $@

build-ext-%-stamp:
	dh_testdir
	$* setup.py build -g
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build*stamp
	rm -rf build
	find . -name '*.pyc' | xargs rm -f
	dh_clean

install: build install-prereq $(PYVERS:%=install-ext-%)

install-prereq:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

install-ext-%:
	$* setup.py install --root=debian/python-smisk
	rm -rf debian/python-smisk/usr/smisk-doc
	rm -rf debian/python-smisk/usr/bin
	#rm -rf debian/python-smisk/usr/lib/python*/site-packages/smisk/test
	find debian/python-smisk -name '*.pyc' | xargs rm -f

# Build architecture-independent files here.
binary-indep:

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installdocs -A -a doc/usage-guide.* doc/*.css

	dh_installexamples -A -a doc/code/*

	dh_pycentral -a
	dh_installchangelogs -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install configure
